<div class="container-fluid">
    <h1><%= title %></h1>

    <html>
    <head></head>
    <body>
  
            <h3>About Me</h3>
            <img src="img/me.jpg" >
       
               <p>
                My Name is Theresa Bennett. 
                <br> 

                I am currently studying Software Engineering Artificial Intelligence program, at Centennial College. 
                <br> 
                 I am finding my interest is mainly in Web Development and Application, 
                 <br> 
                 which I intend to focus my career around after my studies. 
                <br> 
                I am 27 years old and I have two beautiful children, which take up majority of my spare time.
                <br>
                Yet, in any additional spare time I am a personal trianer. Fitness is my passion. 
               </p>
                    
                    
          
    </body>
</html>
